:root{
    --background:#7510F7;
    --foreground:white;
    --text-primary: black;
    --text-secondary: white;
    --heading-size:2.3rem;
    --sub-heading-size:1.3rem;
    --heading-weight: bolder;
    --sub-heading-weight: 200;
}


*{
    margin:0px;
    padding: 0px;
    text-align:center;
}

.icon{
    max-width: 8vw;
    max-height 5vh;
    fill: var(--background);
}

li{
    list-style:none;
    margin:1rem;
    padding:0;
}

a{
    text-decoration: none;
    color:var(--text-primary);
}

header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    min-height: 8vw;
}

.navToggle{
    display: none;
}

.logo {
    height: 8vw;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 8vw;
}

.list-item a{
    border-radius:4vw;
    color: var(--background);
    display: flex;
    padding: 1vw;
    margin:auto auto;
    font-size: var(--sub-heading-size);
}

.list-item a:hover{
    background: var(--background);
    color:var(--text-secondary);
}

#Home{
    display:flex;
    flex-direction:column;
    min-height: 60vh;
}

.image img{
    max-width:50vw;
    max-height:25vh;
}

.wrapper{
    margin:auto;
    text-align:center;
}

.intro{
    display: flex;
    flex-direction:column;
    margin-bottom:8vh;
}

.intro-heading{
    font-size:var(--heading-size);
    color:var(--text-primary);
    font-weight: var(--heading-weight);
    margin-bottom:3vh;
}

.intro-subtitle{
    font-size:var(--sub-heading-size);
    color:var(--text-primary);
    font-weight:var(--sub-heading-weight);
}

.banner{
    background: var(--background);
    color:var(--text-secondary);
    padding:auto;
    padding-top:9rem;
    padding-bottom:20rem;
}

.desc{
    max-width:80vw;
    margin:1.5rem auto;
    font-size:var(--sub-heading-size);
    font-weight: var(--sub-heading-weight);
}

.title{
    max-width:60vw;
    margin:auto;
    font-size:var(--heading-size);
    font-weight:var(--heading-weight);
}

.skill-desc a,.project-links a{
    margin:auto;
    padding: 2rem 0;
    text-decoration:underline;
    color:green;
}

.project-desc,skill-desc{
    min-height:20vh;
}

.skill-grid-container,.project-grid-container{
    max-width:80vw;
    margin:auto;
    margin-top: -14rem;
    margin-bottom:10rem;
    background: var(--foreground);
    border-radius:1rem;
    display: flex;
    flex-direction:row;
}
.skill-grid-element,.project-grid-element{
    padding:2rem;

    flex:1;
    border-radius:1rem;
    border: 1px solid var(--background);

}
.skill-grid-element:nth-child(1){
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

.skill-grid-element:nth-child(2){
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
.project-grid-element:nth-child(1){
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

.project-grid-element:nth-child(2){
    border-radius:0px;
}
.project-grid-element:nth-child(3){
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}


.skill-grid-element > *, .project-grid-element>*{
    margin:auto;
    margin-top:1rem;
}

.banner-title{
    font-weight: var(--heading-weight);
    font-size:1.9rem;
}

.banner-subtitle{
    font-weight: 600;
    font-size:var(--sub-heading-size);
    color:var(--background);
}

.banner-desc{
    font-weight:var(--sub-heading-weight);
    font-size:var(--sub-heading-size);
}

footer{
    padding:2rem;
    background: var(--background);
    color:var(--text-secondary);
}

.linkedIn{
    min-width:5vw;
    max-width:10vw;
    min-height:5vh;
    max-height:10vh;
    fill:var(--text-secondary);
    border-radius:3vw;
    margin:1rem;
}

.linkedIn:hover{
    fill:var(--background);
    background:var(--foreground);
}

@media only screen and (max-width: 920px) {

    .skill-grid-container, .project-grid-container{
        flex-direction:column;
    }


    .skill-grid-element:nth-child(1){
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
    }

    .skill-grid-element:nth-child(2){
        border-bottom-left-radius:1rem;
        border-top-left-radius:0px;
        border-top-right-radius:0px;
    }
    .project-grid-element:nth-child(1){
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
    }

    .project-grid-element:nth-child(2){
        border-radius:0px;
    }
    .project-grid-element:nth-child(3){
        border-bottom-left-radius:1rem;
        border-top-left-radius:0px;
        border-top-right-radius:0px;
    }

    .navToggle{
        margin-top:3vw;
        margin-right:4vw;
        display: block;
        background:none;
        width:8vw;
        height: 8vw;
        border-radius:4rem;
        border:none;
    }

    .navToggle:hover{
        cursor:pointer;
    }

    .hamburger{
        margin:1vw auto ;
        position:relative;
    }

    /*animations*/
    @keyframes left {
        0%{

            top:-1.7vw;
        }
        50%{
            top:-0.8vw;
        }
        100%{
            bottom:0vw;
            transform: rotate(50deg);
        }

    }

    @keyframes right {
        0%{

            bottom:-1.7vw;
        }

        50%{
            bottom:-0.8vw;
        }
        100%{
            top:0vw;
            transform: rotate(-50deg);
        }

    }


    @keyframes left2 {
        0%{

            bottom:0vw;
            transform: rotate(50deg);
        }
        50%{
            top:-0.8vw;
        }
        100%{
            top:-1.7vw;
        }

    }

    @keyframes right2 {
        0%{

            top:0vw;
            transform: rotate(-50deg);
        }

        50%{
            bottom:-0.8vw;
        }
        100%{
            bottom:-1.7vw;
        }

    }
    .hamburger::before,.hamburger::after,.hamburger{
        width:5vw;
        height:0.7vw;
        display: block;
        background: var(--background);
    }

    .hamburger::before{
        content:'';
        position: absolute;
        animation: right2 0.5s;
        animation-fill-mode:forwards;
    }

    .hamburger::after{
        content:'';
        bottom:-1.7vw;
        position: absolute;
        animation: left2 0.5s;
        animation-fill-mode:forwards;
    }



    .hamburger-toggled {
        background:none;
        width:5vw;
        height:0.7vw;
        display: block;
        position: relative;
        margin:auto;
    }

    .hamburger-toggled::before,.hamburger-toggled::after{
        width:5vw;
        height:0.7vw;
        display: block;
        background: var(--background);
    }

    .hamburger-toggled::before{
        content:'';
        position: absolute;
        display: block;
        animation: right 0.5s;
        animation-fill-mode:forwards;
    }


    .hamburger-toggled::after{
        content:'';
        position: absolute;
        display: block;
        animation: left 0.5s;
        animation-fill-mode:forwards;
    }
    @keyframes show {
        from{
            transform: translateY(-1rem);
        }
        to{
            transform: translateY(0rem);
        }
    }

    .list{
        display: none;
        animation-name: show ;
        animation-duration: 1s;
        animation-direction:reverse;
    }

    .list-toggled{
        animation-name: show ;
        animation-duration: 1s;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

}
